# Due to the older Home Assistant version, some other dependencies have
# also been pinned to older versions
git+https://github.com/rdegraafwhizzkit/ics2000-python@release-1.0.3#egg=ics2000_python
homeassistant==2024.6.4
voluptuous==0.13.1
flake8